.VehiclePanel {
  width: 340px;
  padding: 20px;
  background: rgba(0,0,0,0.83);
  border-radius: 4px;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.VehiclePanel-vehicle-name {
  color: #fff;
  font-family: 'Gotham Medium', Helvetica, 'sans-serif';
  font-size: 1.1rem;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.VehiclePanel .Icon {
  background-color: rgba(255,255,255,0.8);
}

.VehiclePanel-menu-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.VehiclePanel-status {
  color: #ddd;
}

.VehiclePanel-error-message {
  font-family: 'Helvetica Neue', Helvetica, 'sans-serif';
  font-size: 0.8rem;
  margin-left: 15px;
  line-height: 1.4;
}
